*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', 'sans-serif';
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  width: 1140px;
  gap: 30px;
  margin: auto;
  align-items: flex-end;
}

.result {
  width: 711px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 12px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', Arial, 'sans-serif';
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  line-height: 33px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed', Arial, 'sans-serif';
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
  background-color: #1B1919;
  appearance: none;
  min-width: 225px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
  
  /* Запрещает выделение текста, чтобы не было верикальной черты при клике на чекбокс */
  user-select: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:hover {
  text-decoration: underline;

  /*Опустить подчеркивание от текста чекбокса */
  text-underline-offset: 3px;
}

.search-form__label:has(.search-form__textfield):hover {
  text-decoration: none;
}

.search-form__label:active {
  text-decoration: none;
  opacity: 1;
}

.button {
  background-color: transparent;
  border: 1px solid #fff;
  font-family: 'Fira Sans Condensed', Arial, 'sans-serif';
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  min-height: 34px;
}

.search-form__submit-button {
  min-width: 194px;

  /* Прижимаем кнопку к низу так, что высота над ней не была жестко фиксирванной */
  align-self: flex-end;
}

.more-button {
  width: 100%;
}

.button:hover {
  text-decoration: underline;

  /*Опустить подчеркивание от текста чекбокса */
  text-underline-offset: 3px;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 22px;
}

.title {
  font-family: Oswald, Arial, 'sans-serif';
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow-y: auto;
  display: grid;
  gap: 30px;
  padding-bottom: 2px;
}

.content__list {
  display: grid;
  gap: 30px;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}


.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;

  /*Уменьшить толщину подчеркивания */
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

.content__card-link:active {
  background-color: #545050;
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__video-card-title {
  font-family: Oswald, Arial, 'sans-serif';
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 6px;
  text-transform: uppercase;

  /*добавляет многоточие («...») в конце обрезанного текста.*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 196px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', Arial, 'sans-serif';
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  line-height: 96%;

  /*добавляет многоточие («...») в конце обрезанного текста.*/
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 196px;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
